<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pay my buddy Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}" />
     <link rel="stylesheet" type="text/css" th:href="@{/css/transfer_style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="/header_fragment :: #my_template_logo"></div>
<div th:replace="/nav_fragment :: #my_template_nav"></div>

<h3 style="text-align:center">Choose your connection :</h3>
<form th:action="@{/addConnection}" style="text-align:center;white-space:pre" method="post">
  <label for="connections"></label> 
  <select name="connection" id="connectionsId">
    <option th:each="connection : ${connections}"  
    		th:value="${connection.id}"
    		th:text="${connection.firstName}"
    		></option>
  </select>
  </br>
  <input class="button buttonBlue" type="submit" value="Add" />
    		
  <!--  
   th:if="${not #lists.isEmpty(connections)}"
    	th:selected=${connection.firstName}
-->
 </form>

</body>
</html>