<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pay my buddy Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}" />
     <link rel="stylesheet" type="text/css" th:href="@{/css/transfer_style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="/header_fragment :: #my_template_logo"></div>
<div th:replace="/nav_fragment :: #my_template_nav"></div>
<!-- 
<a th:href="@{/transfer}">
	<button class="button buttonBlue">Return to transfer</button>
</a> -->  

<!--
<a class="button buttonBlue" onclick="return confirm('Are you sure Add connection ?')"
  th:href="@{/addConnection(idContact=${connection.id})}">Add conx</a>
-->  

<h3 style="text-align:center">Choose your connection :</h3>
<form th:action="@{/addConnection}" style="text-align:center;white-space:pre" method="post">
  <label for="connections"></label> 
  <select name="connections" id="connectionsId">
    <option th:each="connection : ${connections}" 
    		th:value="${connection.firstName}"
    		th:text="${connection.firstName}"
    		></option>
  </select>
  </br>
<!--  <input class="button buttonBlue" type="submit" value="Add"/>-->
    
    <a class="button buttonBlue" 
  		th:href="@{/addConnection(firstName=${connection.firstName})}">Add connection</a>
    		
  <!--  <input class="button buttonBlue" type="submit" value="Add"
    onclick="retrieveSelectedValueOfDropdown()"/> -->
</form>
<p id="demo"></p>
<script>
	function retrieveSelectedValueOfDropdown(){
		 var selectedValue = document.getElementById("connectionsId").value;
		 alert("The name of your selected friend is: " + selectedValue );
		 return selectedValue;
	}
</script>

</body>
</html>