<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pay my buddy Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="/header_fragment :: #my_template_logo"></div>
<div th:replace="/nav_fragment :: #my_template_nav"></div>

<h3 style="text-align:center">Welcome, <span th:text="${#authentication.getPrincipal().getUsername()}"></span>, to transfer money to your friends !</h3>

</body>
</html>