<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pay my buddy Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}" />
     <link rel="stylesheet" type="text/css" th:href="@{/css/transfer_style.css}" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="/header_fragment :: #my_template_logo"></div>

<div class="w3-container">
	<div class="w3-display-container" style="height:400px">
		<div class="center w3-display-middle">
   <form name='f' th:action="@{/login}" method='POST' >
      <table>
         <tr>
            <td>Email:</td>
            <td><input type='text' id="username" name='username' value=''></td>
         </tr>
         <tr>
            <td>Password:</td>
            <td><input type='password' id="passw" name='password' /></td>
         </tr>
         <tr>
            <td><input name="submit" type="submit" value="Submit" /></td>
         </tr>
      </table>
  </form>
</div>
</div>
</div>
</body>
</html>