<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pay my buddy Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}" />
     <link rel="stylesheet" type="text/css" th:href="@{/css/transfer_style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div id="my_template_nav">
		<ul style="border-radius:25px">
	  <li><a href="/home">Home</a></li>
	  <li><a href="/transfer">Transfer</a></li>
	  <li><a href="#profile">Profile</a></li>
	  <li><a href="#contact">Contact</a></li>
	  <li style="float:right"><a class="active" href="/logout">Log out</a></li>
	</ul>
</div>
</body>
</html>