<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pay my buddy Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}" />
     <link rel="stylesheet" type="text/css" th:href="@{/css/transfer_style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="/header_fragment :: #my_template_logo"></div>
<div class="w3-container">
<h2 style=text-align:center th:text="${message}"></h2>
<div class="w3-display-container" style="height:500px">
		<div class="center w3-display-middle">
<h3>Enter your information :</h3>
<form name='g' th:action="@{/register}" method="POST">
	<label for="fname">FirstName</label>
	<input type="text" th:value="${firstName}" id="firstName" name="firstName"></br></br>
	<label for="lname">LastName</label>
	<input type="text" th:value="${lastName}" id="lastName" name="lastName"></br></br>
	<label for="login">E-mail</label>
 	<input type="email" th:value="${loginMail}" id="loginMail" name="loginMail"></br></br>
 	<label for="password">Password</label>
	<input type="password" th:value="${psswrd}" id="psswrd" name="psswrd"></br></br>
 	<input class="button buttonBlue" type="submit" value="Register" name="registration">
</form>
</div></div></div>
</body>
</html>