<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pay my buddy Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home_style.css}" />
     <link rel="stylesheet" type="text/css" th:href="@{/css/transfer_style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="/header_fragment :: #my_template_logo"></div>
<div th:replace="/nav_fragment :: #my_template_nav"></div>

</br>
<h3 style="text-align:center">Send money
<a th:href="@{/addConnection}">
		<button class="button buttonBlue">Add connection</button>
</a>
</h3>

<form th:action="@{/transfer}" style="text-align:center;white-space:pre">
  <label for="userconnections">Select a connection:</label>
  <select name="userconnections" id="userconnections">
    <option th:each="connection : ${userconnections}" 
    		th:text="${connection}"
    		th:value="${connection}" 
    		></option>
  </select>
  <label for="description">Description:</label>
  	<input type="text" id="description" name="description" value="description">
  <label for="amount">Amount:</label>
 	<input type="number" id="amount" name="amount" value="10" min="1" max="500">
  <input class="button buttonBlue" type="submit" value="Pay">
</form>
</br></br>
<h3 style="text-align:center">My transactions</h3>
<table class="center">
  	<tr>
    	<th>Friend</th> <th>Description</th> <th>Amount</th>
    </tr>
  <tr th:each="transac:${transacs}">
  	<td th:text="friend"></td> 
    <td th:text="${transac.description}"></td>
    <td th:text="${transac.amount}"></td> 
  </tr> 
</table>

</body>
</html>