<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Users list</h1>
<a th:href="@{/useraccounts}">Users List</a>
<br></br>
<div>
	<table border="1">
	<tr>
		<th>First name</th>
		<th>Last name</th>
	</tr>
	<tr th:each = "user : ${users}">
		<td th:utext="${user.firstName}">...</td>
		<td th:utext="${user.lastName}">...</td>
	</tr>
	</table>
</div>
</body>
</html>